.flex-container {
background-color: aqua;
padding: 10px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}

.flex-item {
    background-color:blanchedalmond;
    padding: 4vw;
    margin: 2vw;
}

@media only screen and (min-width: 600px) {
    .flex-container{
       flex-direction: column; 
       justify-content: flex-end;
       align-items: center;
    }
}